include LICENSE
include THIRD_PARTY_NOTICES.md
include README.md
include pyproject.toml
include setup.py
recursive-include docs *.py *.rst Makefile requirements.txt
recursive-include tests *.py
prune benchmarks
prune memos
prune notebooks
prune docs/build
